body {
    margin: 0;
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
li {
    flex: 1 0 0;
    position: relative;
  }
  
li a {
    display: block;
    color: #fff;
    padding: 16px;
    text-decoration: none;
}
  
li:hover a {
    color: black;
}