.new-column-style-div {
  border: 1px solid lightgrey;
  padding:8px;
  margin-bottom:8px;
  border-radius:2px;
  background-color:rgba(255, 255, 255, 0.918);
  box-shadow: 0 0.5px 1px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.add-column-style-div {
  padding:8px;
  margin-bottom:8px;
  border-radius:2px;
  background-color:'lightgrey';
}

.head-tag-3-style {
  padding: 0 1rem;
  margin: 0.5rem 0;
  font-weight: 500;
}

.task-list-style {
  padding: 0.5rem;
  background-color: '#d5f3ff';
  min-height:100px;
}

.column-list-style {
  margin: 1rem;
  border: 1px solid lightgrey;
  border-radius: 5px;
  width:250px;
  float: left;
  height: auto;
  background-color: rgba(189, 189, 189, 0.2);
}

.button-add-style {
  border: 1px solid lightgrey;
  padding:8px;
  margin-bottom:8px;
  border-radius:2px;
}

.button-add-style :hover {
  opacity: 1;
  background-color: 'rgba(9,30,66,.08)',
};

.nav-item-style {
  float: 'left';
}

.add-task {
  border: 1px solid lightgrey;
  padding:4px;
  margin-bottom:4px;
  border-radius:4px;
}