@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
body, html {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: linear-gradient(0deg, rgb(76, 154, 255), rgb(64, 50, 148));
}

*{
  font-family: 'Inter';
}